--white-white-10: #ffffff;
--white-white-25: #ffffff;
--white-white-40: #ffffff;
--white-white-50: #ffffff;
--white-white-60: #ffffff;
--white-white-70: #ffffff;
--white-white-85: #ffffff;
--white-white: #ffffff;
--black-black-10: #000000;
--black-black-25: #000000;
--black-black-40: #000000;
--black-black-50: #000000;
--black-black-60: #000000;
--black-black-70: #000000;
--black-white-85: #ffffff;
--black-white: #ffffff;
--grey-100: #efefef;
--grey-200: #cfcfcf;
--grey-300: #a8a8a8;
--grey-400: #949494;
--grey-500: #767272;
--grey-600: #4e4e4e;
--grey-700: #2a2a2a;
--grey-800: #141414;
--brand-100: #eff3f6;
--brand-200: #c2cbd3;
--brand-300: #8eadc9;
--brand-400: #6492bb;
--brand-500: #2e7bbe;
--brand-600: #245783;
--brand-700: #082032;
--brand-800: #051828;
--orange-100: #f6f2ef;
--orange-200: #d5ccc5;
--orange-300: #caac83;
--orange-400: #b38549;
--orange-500: #a46718;
--orange-600: #a46514;
--orange-700: #37260f;
--orange-800: #1f1202;
--red-100: #f6f0ef;
--red-200: #d8c9c7;
--red-300: #cb928d;
--red-400: #cf776f;
--red-500: #c5473b;
--red-600: #9a3229;
--red-700: #39100c;
--red-800: #270705;
--green-100: #eff6f0;
--green-200: #c5d6c8;
--green-300: #83b28b;
--green-400: #4f9e5c;
--green-500: #238433;
--green-600: #257232;
--green-700: #0b3012;
--green-800: #07240c;
