--typography-heading-large-font-size: 24px;
--typography-heading-large-line-height: 26.399999618530273px;
--typography-heading-large-letter-spacing: -0.25px;
--typography-heading-large-font-family: "Google Sans Flex";
--typography-heading-large-font-weight: "Medium";
--typography-heading-font-family: "Google Sans Flex";
--typography-heading-font-weight: "Medium";
--typography-heading-font-size: 20px;
--typography-heading-line-height: 22px;
--typography-heading-letter-spacing: -0.25px;
--typography-body-strong-font-family: "Google Sans Flex";
--typography-body-strong-font-weight: "Medium";
--typography-body-strong-font-size: 16px;
--typography-body-strong-line-height: 20.799999237060547px;
--typography-body-strong-letter-spacing: 0px;
--typography-body-font-family: "Google Sans Flex";
--typography-body-font-weight: "Regular";
--typography-body-font-size: 16px;
--typography-body-line-height: 20.799999237060547px;
--typography-body-letter-spacing: 0px;
--typography-body-small-font-family: "Google Sans Flex";
--typography-body-small-font-weight: "Regular";
--typography-body-small-font-size: 12px;
--typography-body-small-line-height: 15.600000381469727px;
--typography-body-small-letter-spacing: 0px;
--typography-body-small-strong-font-family: "Google Sans Flex";
--typography-body-small-strong-font-weight: "Medium";
--typography-body-small-strong-font-size: 12px;
--typography-body-small-strong-line-height: 15.600000381469727px;
--typography-body-small-strong-letter-spacing: 0px;
--background-page: var(--white-white);
--radius-base: 8px;
--padding-base: 8px;
--padding-loose: 12px;
--border-base: var(--grey-400);
--border-brand: var(--brand-400);
--shadow-lift-color: var(--black-black-10);
--shadow-lift-x: 0px;
--shadow-lift-y: 2px;
--shadow-lift-blur: 4px;
--shadow-lift-spread: 0px;
--border-width: 0.5px;
--foreground-default-primary: var(--grey-800);
--foreground-default-secondary: var(--grey-700);
--foreground-brand-primary: var(--brand-800);
--foreground-brand-secondary: var(--brand-700);
--background-brand-muted: var(--brand-200);
--background-brand-subtle: var(--brand-100);
--background-brand-strong: var(--brand-300);
--background-brand-pop: var(--brand-500);
--background-warning-subtle: var(--orange-100);
--background-warning-muted: var(--orange-200);
--background-warning-strong: var(--orange-300);
--background-warning-pop: var(--orange-500);
--background-positive-subtle: var(--green-100);
--background-positive-muted: var(--green-200);
--background-positive-strong: var(--green-300);
--background-positive-pop: var(--green-500);
--background-negative-subtle: var(--red-100);
--background-negative-muted: var(--red-200);
--background-negative-strong: var(--red-300);
--background-negative-pop: var(--red-500);
--background-base: var(--white-white);
---component-accordion-background: var(--white-white);
---component-accordion-background-active: var(--brand-100);
---component-accordion-foreground: var(--brand-800);
---component-accordion-foreground-active: var(--brand-800);
---component-accordion-border: var(--grey-400);
---component-accordion-border-active: var(--brand-400);
---component-accordion-background-section: var(--brand-100);
